/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Work Sans was made by Wei Huang https://weiweihuanghuang.github.io/Work-Sans/ */
/* I did modify the font to include the ✅ character */

@font-face {
    font-family: WorkSans-Regular;
    src: url(/assets/WorkSans-Regular.ttf);
}
body {
    width: 500px;
    margin: 24px auto 0;

    font-family: WorkSans-Regular;
    font-size: 16px;
    line-height: 1;
}

.multiline {
    white-space: pre-wrap;
}

.node-body {
    color:#848484;
    border-style: solid;
    border-color:#848484;
    border-width: 3px;
    background-color: #484848;
    margin-bottom: 2em;
    margin-top: 0;
}

.node-header {
    color:#848484;
    border-style: solid;
    border-color:#848484;
    border-width: 3px;
    border-bottom: 0px;
    background-color: #484848;
    margin-bottom: 0;
    text-align: center;
}

.node-text {
    
    color:#848484;
    background-color: #484848;
    margin: 3px;
    text-align: left;
}