/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    width: 500px;
    margin: 24px auto 0;

    font-family: 'parabolic', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.node {
    color:#848484;
    border-style: solid;
    border-color:#848484;
    border-width: 3px;
    background-color: #484848;
    margin: 0;
}

.node-header {
    color:#848484;
    border-style: solid;
    border-color:#848484;
    border-width: 3px;
    border-bottom: 0px;
    background-color: #484848;
    margin: 0;
}