/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Work Sans was made by Wei Huang https://weiweihuanghuang.github.io/Work-Sans/ */
/* I did modify the font to include the ✅ character */

@font-face {
    font-family: WorkSans-Regular;
    src: url(./assets/WorkSans-Regular.ttf);
}
body {
    width: 500px;
    margin: 24px auto 0;

    font-family: WorkSans-Regular;
    font-size: 16px;
    line-height: 1;
}

.dark-mode {
    background-color: #343434;
}

.multiline {
    white-space: pre-wrap;
}

.node-body {
    color:#848484;
    border-style: solid;
    border-color:#848484;
    border-width: 3px;
    background-color: #484848;
    margin-bottom: 2em;
    margin-top: 0;
}

.node-header {
    color:#848484;
    border-style: solid;
    border-color:#848484;
    border-width: 3px;
    border-bottom: 0px;
    background-color: #484848;
    margin-bottom: 0;
    text-align: center;
}

.node-text {
    color:#848484;
    background-color: #484848;
    margin: 3px;
    text-align: left;
}

.node-link {
    color:hsl(207, 20%, 50%);
    text-decoration: none;
    margin: 3px;
    text-align: left;
}

.node-button {
    width: fit-content;
    padding: 2px;
    margin: 0 4px;
    display: inline;
    color: #848484;
    height: 21px;
    background: #484848;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #848484;
    
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.node-button:hover {
    background-color: #616161;
}

.node-button:active {
    background-color: #595959;
}

.output {
    float: right;
}

.input {
    float: left;
}

.output-circle {
    position: relative;
    left: 100%;
    bottom: 15px;
    width: 10px;
    height: 10px;
    margin: 0;
    shape-outside: circle();
    clip-path: circle();
    background: #848484;
}

.input-circle {
    position: relative;
    left: 100%;
    bottom: 15px;
    width: 10px;
    height: 10px;
    margin: 0;
    shape-outside: circle();
    clip-path: circle();
    background: #848484;
}

.fixed {
    position: fixed;
    left: 50px;
}